.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(240, 240, 246);
}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1295px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}

.midd_1 {
    position: relative;
    width: 940px;
    height: 497.1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: white;
}

.midd_1_1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 497px;

}

.profile_pic {
    position: relative;
    width: 326.055px;
    height: 446.633px;
}


.heading_1 {
    position: relative;
    margin: 69px;
    width: 499.51px;
    height: 116.32px;
    color: var(--Black, #2B2B2B);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%;
}

.text_1 {
    position: relative;
    width: 424.437px;
    height: 85.612px;
    text-align: left;
    text-transform: capitalize;
    margin-left: 70px;
    margin-top: -60px;
}


.hire {
    position: static;
    width: 154px;
    height: 51px;
    margin: 70px;
}

.right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    margin-left: -130px;

    background-color: white;
    display: flex;
    flex-direction: column;
}

.icon-1 {
    display: flex;
    justify-content: center;

}

.iconss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.adding {
    display: flex;
    flex-direction: column;
}

.left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_1_1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 135.05px;
    margin-bottom: 29.46px;
}

.left_1_2 {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #2b2b2b;
}

.left_1_3 {
    position: relative;
    width: 147.8px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_href {
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0, 25));
    background-color: #ffb400;
}


.left_1_4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}


.marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1, 5px solid #f0f0f6;
    color: azure;
    background-color: #2b2b2b;
}

.left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    display: flex;
    flex-direction: column;
}

.left_2_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.residence {
    display: flex;
    justify-content: center;
    width: 89px;
    height: 24px;
}

.age {
    display: flex;
    justify-content: center;
    width: 46.209px;
    height: 24px;
}

.freelance {
    display: flex;
    justify-content: center;
    width: 85px;
    height: 24px;
}

.address {
    display: flex;
    justify-content: center;
    width: 75px;
    height: 24px;
}

.left_2_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.left_2_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.left_2_4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}


.left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-left: 45px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}

.left_3_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_3_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_3_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_3_4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-left: 45px;
    margin-top: 25px;
}

.left_4_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_4_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_4_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_4_4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_4_5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_4_6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.left_5 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-left: 45px;
    margin-top: 25px;
}

.left_5_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_5_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_5_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_5_4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_5_5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.child {
    width: 300px;
    height: 300px;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    margin-bottom: -8px;
}

.icon_r {
    width: 40px;
    height: 40px;
    background: #cbcbdd;
    /* light circle color */
    border-radius: 50%;
    /* makes it round */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.first_icon_r {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFB400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle {
    width: 15.931px;
    height: 15.654px;
    transform: rotate(26.45deg);
    border: 2px solid rgba(0, 71, 255, 0.80);
}